
:root{
    --background: #eeeeee;
    --calculator: #aaa;
    --screen: #e1f5fe;
    --border: #212121;
    --btn: #eeeeee;
    --btn-Hover: #e0e0e0;
    --btn-Active: #bdbdbd;
}
body{
    background-color: var(--background);
}






main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}




#calculator{
    background-color: var(--calculator);
    width: 360px;
    padding: 20px;

    border: 2px solid;
    border-radius: 15px;
    
    
}

#screen{
    width: auto;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--screen);

    padding: 10px 20px;
    text-align: right;

    margin-bottom: 20px;
}


.screen-last{
    min-height: 32px;
    font-size: 20px;
    

}
.screen-current{
    min-height: 64px;
    font-size: 40px;
}



.buttons-grid{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-gap: 15px;


}


.btn{
    padding: 20px;
    border-radius: 5px;
    border: 2px var(--border) solid;
    font-size: 20px;
}

.btn:hover{
    background-color: var(--btn-Hover);
}

.btn:active{
    background-color: var(--btn-Active);
}
.span-2{
    grid-column: span 2;
}